<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <title>lul-wi</title>
    <link href=/static/web/css/app.0f00bee1bcf4e7f3b0954bb67aa5d327.css rel=stylesheet>
</head>

<body>
    <div id=app></div>
    <script type=text/javascript src=/static/web/js/manifest.1b65c746eab41acd9639.js></script>
    <script type=text/javascript src=/static/web/js/vendor.f32275dee10da920027d.js></script>
    <script type=text/javascript src=/static/web/js/app.f0e0b07737470ca9a9f3.js></script>
</body>

</html>
